//- main & common Header with website name & social media links:
.content__top
    h2.title
        span.title__inner.mode.mode--design(data-switch='', data-glitch='') #{index.author}
    .controls
        a.icon.icon-twitter(href='https://twitter.com/jalofernandez', target='_blank', rel='noopener noreferrer', title='Ver cuenta de Twitter de @jalofernandez')
        a.icon.icon-instagram(href='https://www.instagram.com/jalofernandez/?ref=badge', target='_blank', rel='noopener noreferrer', title='Ver perfil de Instagram de @jalofernandez')
        a.icon.icon-linkedin(href='https://www.linkedin.com/in/javierlorenzofernandez/', target='_blank', rel='noopener noreferrer', title='Ver perfil de LinkedIn de @jalofernandez')
        a.icon.icon-youtube(href='https://www.youtube.com/channel/UCtwY5GMTiS7VQ7kYzGomUsw', target='_blank', rel='noopener noreferrer', title='Ver canal de Youtube de @jalofernandez')
        a.icon.icon-facebook(href='https://www.facebook.com/jalofernandez?ref=tn_tnmn', target='_blank', rel='noopener noreferrer', title='Ver perfil de Facebook de @jalofernandez')
        a.icon.icon-github(href='https://github.com/jalofernandez', target='_blank', rel='noopener noreferrer', title='Ver perfil de Github de @jalofernandez')
        a.icon.icon-mail(href='mailto:jalofernandez@gmail.com', target='_blank', rel='noopener noreferrer', title='Enviar email a @jalofernandez')
        button.btn.btn--menu.mode.mode--design(type='button', value='text', name='all', aria-label='open', data-switch='')
            svg.icon--svg.icon--menu
                use(xlink:href='#icon-menu')
            svg.icon--svg.icon--menu-alt
                use(xlink:href='#icon-menu-alt')
h1.glitch(href='index.html', title='Volver al índice del Website de @jalofernandez', data-text='designer + coder') #{index.career}
