doctype html
html.no-js(lang='es')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title jalofernández page not found
        meta(name='description', content='Página de error del portfolio y CV personal de Javier Lorenzo Fernández (aka jalofernandez). Diseñador gráfico y desarrollador web frontend un poco friki como podéis comprobar...')
        //- meta(name='keywords', content='diseño, diseño web, dibujo, maquetación, arte, creatividad, artes finales, design, web design, 404, error 404, creatividad, inspiración, inspiration, creative')
        //- (common) Metatags in current view
        include includes/metatags
        //- (external dependency) "upplication" Icons
        link(href='//upplication.github.io/icons/upplication-icons.css', rel='stylesheet', type='text/css')
        //- custom styles for current view
        link(rel='stylesheet', type='text/css', href='css/404.css')

    body.old-crt-effect
        main.old-crt-effect
            .pieces(style='background-image: url(img/resume/fire.gif)', data-img-alt='url(img/index/alt.jpg)', data-img-code='url(img/index/code.jpg)')
            .overlay.overlay--hidden
            .content
                .content__inner
                    //- main & common Header with website name & social media links:
                    include includes/header
                    //-h3.glitch.coming-soon(data-text='Coming Soon...!') #{resume.coming}
                    .typewriter
                        h3.mode--code #{error.notfound}
                    .content__bottom
                        .switch.mode.mode--code
                            //-a.switch__item(title='') #{error.back}
                            a.btn.menu__link.glitch(href='/', data-text='<< Home')
                                | << Home
            //- to apply a typical blink effect in old CRT monitors
            .line-anim
                .flicker
            
        //- To register Service Worker & validate it by console log
        include includes/serviceworker
