//- Structured Data (Open Graph) on INDEX page
meta(property='og:type', content='website')
meta(property='og:locale', content='es_ES')
meta(property='og:url', content='https://jalofernandez.com')
meta(property='og:site_name', content='jalofernández design webmaster frontend diseño gráfico')
meta(property='og:title', content='jalofernández diseño gráfico y desarrollo web en Madrid, España')
meta(property='og:description', content='Portfolio y CV personal de Javier Lorenzo Fernández (aka jalofernandez). Diseñador gráfico y desarrollador web frontend así como maravillosa persona.')
meta(property='og:image', content='')
meta(property='og:image:secure_url', content='')
meta(property='og:image:width', content='')
meta(property='og:image:height', content='')
meta(property='og:image:alt', content='jalofernández design, webmaster, frontend y diseño gráfico en Madrid')
//- todo: add Facebook id to track this page with Facebook Insights
    meta(property='fb:app_id', content='')